<div class="container mt-3">
  <div class="card">
    <div class="card-body">
  <h1 class="centrar">Frontend and Mobile developer</h1>
  <p>Hey! Soy Mercedes, hace un par de años decidí dar un vuelco a mi carrera profesional, pasé de dedicarme tanto a lo social como a la sanidad a comenzar mis estudios de progrmación, entré a cursar el CFGS en Desarrollo de Aplicaciones multiplataforma. Durante este periodo de tiempo, me he formado también en tecnologías frontend, mediante pequeños cursos sacados de UDEMY, y para colofón el curso más amplio de Angular con Fundación Adecco.</p>
  <p>Soy una persona dinámica y proactiva, me gusta trabajar en equipo.</p>
</div>
</div>
</div>
