<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <h1 class="centrar">Frontend and Mobile developer</h1>
      <p>
        Hey! Soy Mercedes, hace un par de años decidí dar un vuelco a mi carrera
        profesional, pasé de dedicarme tanto a lo social como a la sanidad a
        comenzar mis estudios de progrmación, entré a cursar el CFGS en
        Desarrollo de Aplicaciones multiplataforma. Durante este periodo de
        tiempo, me he formado también en tecnologías frontend, mediante pequeños
        cursos sacados de UDEMY, y para colofón el curso más amplio de Angular
        con Fundación Adecco.
      </p>
      <p>Soy una persona dinámica y proactiva, me gusta trabajar en equipo.</p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <p><i class="fa-solid fa-house"></i> Resido en Galapagar, Madrid.</p>
      <p><i class="fa-solid fa-phone"></i><span> 603723586</span></p>
      <p><i class="fa-solid fa-envelope"></i> <a href="mailto:mer.jimenez87@gmail.com"> mer.jimenez87@gmail.com</a></p>
      <p><i class="fa-brands fa-linkedin"></i><a href="https://www.linkedin.com/in/mercedes-jim%C3%A9nez-holgueras-922a69173/"> LinkedIn</a></p>
    </div>
  </div>
</div>
