<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Mercedes Jiménez</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/datos">Datos personales</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Experiencia
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/educacion">Educativa</a></li>
            <li><a class="dropdown-item" href="/laboral">Laboral</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Otros datos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/herramientas">Herramientas</a></li>
            <li><a class="dropdown-item" href="/ides">IDES</a></li>
            <li><a class="dropdown-item" href="/tecnologias">Tecnologías</a></li>
            <li><a class="dropdown-item" href="/otros">Otros datos de interés</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../../../assets/pdf/CV_MercedesJimenezHolguerasACT.pdf">Descargar Currículum</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
